@import "../../root";
.menuLevel{

    border-top: $mainColor solid 1px;
    padding: 10px 0;

    font-size: 1.6rem;
    color: black;

}
.levelClosed{
    color: $closedColor;
    border-top: $closedColor solid 1px;
}
.menuLevel__payload{
    font-size: 1.3rem;
    padding-left: 22px;
    margin-top: 5px;
}
