@import "../../root";

.menuLevel {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;

  border-top: $mainColor solid 1px;
  padding: 10px 20px 10px 0;

  font-size: 1.6rem;
  color: black;

}

.levelClosed {
  color: $closedColor;
  border-top: $closedColor solid 1px;
}

.menuLevel__payload {
  font-size: 1.3rem;
  padding-left: 22px;
  margin-top: 5px;
}

.openLevel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  width: 20px;
  height: 20px;

  background: url(../../assets/images/chevron-right.svg) center center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.buyLevel {
  background: url(../../assets/images/plus.svg) center center no-repeat;
  background-size: 100%;
}

@media (min-width: 600px) {
  .menuLevel {
    font-size: 1.8rem;
    width: 560px !important;
  }
  .menuLevel__payload {
    font-size: 1.5rem;
  }
  .openLevel {
    width: 30px;
    height: 30px;
  }
}