@import "../../root";
.menu{
    position: relative;
    width: 100%;
    padding: 50px 20px 0 20px;
}

.rulesButton{
  font-size: 3rem;
    cursor: pointer;
}


.menu_chooseOrder{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: $closedColor;
    margin: 20px 0 10px 0;
}
.menu_chooseOrder p{
    cursor: pointer;
}
.menu_chooseOrder p:first-child{
    margin-right: 70px;
}

.menu_chooseOrder_active{
    color: $mainColor;
}
@media (min-width: 600px) {
    .rulesButton{
        font-size: 4rem;
    }
    .menu_chooseOrder{
        font-size: 2.5rem;
    }
    .menu_chooseOrder p:first-child{
        margin-right: 100px;
    }

}