.sounds{
  width: 30px;
  height: 30px;

  background: url(soundsOn.png) center center no-repeat;
  background-size: 100%;
}
.soundsOff{
  width: 18px;
  margin-right: 12px;

  background: url(soundsOff.png) center center no-repeat;
  background-size: 100%;
}